body {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

    div.container-mobile {
        width: 390px;
        margin: 0 auto;
        background-color: white;

        header {
            border-bottom: 9px solid #BB271A;
            background-color: #616643;
        }

        div.content {
            padding: 5px;

            nav.top-nav {
                font-size: 10px;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 4px;

                a {
                    color: black;
                    text-decoration: none;
                    border-right: 1px solid black;
                    padding: 0 5px 0 3px;

                    img {
                        vertical-align: middle;
                    }

                    &:active {
                        text-decoration: underline;
                    }

                    &:last-of-type {
                        border: none;
                    }
                }
            }

            nav.dropdown-menu {
                margin-bottom: 10px;

                select.page-nav {
                    width: 100%;
                    padding: 5px;

                    option {
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
            }

            section.brown-box {
                background-color: #C8CAAF;
                border-radius: 10px;
                padding: 10px;
                margin: 5px 0;

                main {
                    background-color: white;
                    padding: 10px;

                    img {
                        width: 100%;
                    }

                    h1 {
                        text-transform: uppercase;
                        color: #505A2F;
                        border-bottom: 2px dashed #505A2F;
                        font-size: 16px;
                        font-weight: normal;
                    }

                    p {
                        font-size: 11px;

                        span {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    footer {
        background-color: #676E3D;
        color: #fff;
        padding: 6px;
        font-size: 12px;
        text-align: center;

        span {
            border-right: 1px solid white;
            display: inline-block;
            padding-right: 5px;
            padding-left: 3px;
            margin: 3px 0;

            &:last-of-type {
                border: none;
            }
        }
    }
}
